#openPop{
    font-size: 20px;
    // color: white;
    // display: none !important;
    &:hover{
        background-color: #ddd;
        color: black !important;
        i{
            color: black !important;
        }
    }
}
@media (max-width: 820px) {
    #mySidenav a:not(:first-child){
       display: none;
    }
    #openPop{
        position: absolute;
        right: 0;
        top: 0;
        margin: .5rem;
    }
    #mySidenav.responsive{
        display: block !important;
        height: auto;
        z-index: 999999999999;
    }
    #mySidenav.responsive a{
        // position: absolute;
        // z-index: 9;
        // height: auto;
        display: block !important;
        margin: 0;
        padding: 0;
        text-align: start !important;
        span{
            display: inline;
            padding: 5px 10px;
            // color: white;
            i{
                margin: 0 10px;
            }
        }
       
     }
     #text{
        display: inline !important;
        transform: translateX(0) !important;
    }
     #openPop{
         position: absolute;
         right: 0;
         top: 0;
         margin: .5rem;
     }

}

@media (max-width: 450px) {
    #mySidenav{
        flex-basis: 15%;
    }
}
a{
    display: flex;
    flex-direction: column;
    span[id='icon']{
        display: block;
        // margin-left: auto !important;
        // margin-right: auto !important;
        text-align: center;
        font-size: 20px;
    }
    span[id='text']{
        display: block;
        opacity: 0;
        transform: translateY(20px);
        transition: .7s;
        text-align: center;
    }
    &:hover{
        span[id='text']{
            opacity: 1;
            transform: translateY(10px);
        }
    }
}