.result{
    tr{
        td{
            border: 1px solid black;
            width: 180px;
            text-align: center;
        }
    }
}
td{
    text-align: center;
}
.resultDiv{
    overflow-x: auto;
    &::-webkit-scrollbar{
        width: 0;
        height: 0;
    }
}
.performanceDiv{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
// @media (max-width: 800px) {
//     .SubjectMainDiv{
//         flex-basis: 100%;
//     }
// }
@import '../Inbox/style.scss'