@use 'sass:math';
$color: red;
*{
    text-decoration: none !important;
}
// .h4 {
//     background: $color;
// }
// @for $i from 1 through 10 {
//     .width#{$i}{
//         width: calc($i/10)vw;
//     }
// }
@mixin calendarDisp{
    width: calc(100%/7);
    aspect-ratio: 1;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 10px;  
    text-align: center;  
    &:hover{
        background-color: #f2f2f2;
        border-radius: 50%;
    }
}

.weeks, .days{
    width: 100%;
    ul{
        list-style: none;
        width: 100%;
        display: flex;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    ul li{
        @include calendarDisp
    }
}
.inactive{
    color: #f2f2f2f3;
}
.active{
    color: rgba(252, 2, 252, 0.986);
}
.tdInput{
    height: 40px !important;
    border: 1px solid black;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

@media (min-width: 651px) {
    #toggleIcon{
        display: none !important;
    }
}

@media (max-width: 650px) {
    .OtherStudents, .SubjectSideDiv, .SettingsOtherDiv2, .ActivityOtherSide{
        // flex-basis: 0% !important;
        // display: none;
        transition: 3s;
        position: absolute;
        background-color: gold;
        top: 0;
        right: 0;
        display: block !important;
        padding: 5px 10px;
        // width: auto;
    }
    #toggleIcon{
        display: inline !important;
    }
    .InboxMainDiv, .SettingsMainDiv, .SubjectMainDiv{
        flex-basis: 100% !important;
        & input[name='setting'], div[name='setting']{
            width: 100% !important;
        }
    }
}
#toggleIcon{
    display: none;
}

@media (max-width: 768px) {
    .showNone{
        display: none;
    }
    .showNoneImp{
        display: none !important;
    }
    
}

.performanceDiv{
    display: flex;
    flex-flow: row wrap;
}

.performanceDiv{
    overflow-y: auto;
}
.slate400{
    background-color: #94A3B8 !important;
}
.blue600{
    background-color: #2563EB !important;
    & *{
        color: white !important;
    }
}
.blue500{
    background-color: #3B82F6 !important;
    &:hover{
        background-color: #498efc !important;
    }
    & *{
        color: white !important;
    }
}

// Landing Page NavBar
.LandingNav{
    height: 70px;
    justify-content: center;
    div{
        flex-basis: 30%;
    }
    ul {
        flex-basis: 60%;
        list-style: none;
        display: flex;
        height: 100%;
        // gap: 1rem;
        justify-content: space-between;
        // align-items: center;
        li{
            display: flex;
            align-items: center;
            @media (min-width: 820px) {
                height: 100%;
            }
        }
        @media (max-width: 820px) {
            display: block;
            position: absolute;
            top: 100%;
            right: 0;
            // left: 0;
            font-size: 20px;
            height: calc(100vh - 70px);
            width: 200px;
            background-color: #3B82F6;
            li{
                display: block;
                padding: 1rem;
            }
            li[class='signUpDropDown'], li[class='signInDropDown']{
                // background-color: red;
                overflow: hidden;
                &:hover ul{
                    background-color: inherit !important;
                    position: relative !important;
                    display: block !important;
                    padding: 0;
                    li{
                        background-color: #f2f2f2;
                        padding: 5px;
                        margin: 5px;
                        margin-left: -10px;
                        padding: 3px;
                        a{
                            color: #3B82F6 !important;
                        }
                    }
                }
            }
        }
    }    
}
.signUpDropDown, .signInDropDown{
    position: relative;
    ul{
        display: none;
        position: absolute;
        top: 100%;
    }
    &:hover ul{
        background-color: rgb(216, 116, 35);
        display: block;
        width: 200px;
        left: 0;
        padding: 1rem;
        height: auto;
        li{
            display: block;
            font-size: 18px;
            // padding: 20px 0;
            a{
                padding: 10px 0;
            }
        }
    }
}


// Landing Page Carousel
#carouselCenter{
    // background-color: red;
    height: 200px;
    width: 100%;
    position: relative;
    
}
#carouselCenter::after{
    position: absolute;
    content: '';
    inset: -50%;
    height: 200px;
    transform: translateX(-500px);
    background-image: linear-gradient(to right, green, blue , orange);
    opacity: .75;
    z-index: -9999;
    animation-name: sliding;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes sliding {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(500px);
    }
}

.SchoolProgramsPage{
    display: flex;
    flex-flow: row wrap;
    .Program {
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        flex-basis: 25%;
        *{
            text-align: center;
            // word-wrap: break-word;
            // word-break: break-all;
            // -ms-word-break: break-all;
            // -ms-word-wrap: break-word;
            // background-color: red;
        }
    }
}

// Upcoming Calendar Design
.UpcomingCalendar{
    height: 120vh;
    width: 100vw;
    display: flex;
    // flex-direction: row;
    // img{
    //     height: 100%;
    //     flex-basis: 50%;
    //     border: red solid 2px;
    // }
    div{
        height: 100%;
        flex-basis: 50%;
        border: 2px solid green;
    }
}


// .carouselOverlay{
//     background-color: aqua;
//     ba
// }


// @for $i from 1 through 5 {

// }



// I created this music web app and weather searh app making use of APIs
// Links: 
// Weather App: https://adegbite-joshua.github.io/WEATHER-APP/
// Music App: 
