@use 'sass:math';
$color: red;
*{
    text-decoration: none !important;
}
// .h4 {
//     background: $color;
// }
// @for $i from 1 through 10 {
//     .width#{$i}{
//         width: calc($i/10)vw;
//     }
// }
@mixin calendarDisp{
    width: calc(100%/7);
    aspect-ratio: 1;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 10px;  
    text-align: center;  
    &:hover{
        background-color: #f2f2f2;
        border-radius: 50%;
    }
}

.weeks, .days{
    width: 100%;
    ul{
        list-style: none;
        width: 100%;
        display: flex;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    ul li{
        @include calendarDisp
    }
}
.inactive{
    color: #f2f2f2f3;
}
.active{
    color: rgba(252, 2, 252, 0.986);
}
.tdInput{
    height: 40px !important;
    border: 1px solid black;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

@media (min-width: 651px) {
    #toggleIcon{
        display: none !important;
    }
}

@media (max-width: 650px) {
    .OtherStudents, .SubjectSideDiv, .SettingsOtherDiv2, .ActivityOtherSide{
        // flex-basis: 0% !important;
        // display: none;
        transition: 3s;
        position: absolute;
        background-color: gold;
        top: 0;
        right: 0;
        display: block !important;
        padding: 5px 10px;
        // width: auto;
    }
    #toggleIcon{
        display: inline !important;
    }
    .InboxMainDiv, .SettingsMainDiv, .SubjectMainDiv{
        flex-basis: 100% !important;
        & input[name='setting'], div[name='setting']{
            width: 100% !important;
        }
    }
}
#toggleIcon{
    display: none;
}

@media (max-width: 768px) {
    .showNone{
        display: none;
    }
    .showNoneImp{
        display: none !important;
    }
    
}

.performanceDiv{
    display: flex;
    flex-flow: row wrap;
}

.performanceDiv{
    overflow-y: auto;
}
.slate400{
    background-color: #94A3B8 !important;
}
.blue600{
    background-color: #2563EB !important;
    & *{
        color: white !important;
    }
}
.blue500{
    background-color: #3B82F6 !important;
    &:hover{
        background-color: #498efc !important;
    }
    & *{
        color: white !important;
    }
}

// Landing Page NavBar
.LandingNav{
    height: 50px;
    justify-content: center;
    div{
        flex-basis: 30%;
    }
    span{
        border: 2px solid white;
        margin: 5px;
        display: none;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: 50%;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 6px;
        @media (max-width: 820px) {
            display: flex;
            margin-left: auto;
            margin-right: 30px;
        }
    }
    ul {
        flex-basis: 60%;
        list-style: none;
        display: flex;
        height: 100%;
        justify-content: space-between;
        li{
            display: flex;
            align-items: center;
            @media (min-width: 820px) {
                height: 100%;
            }
        }
        @media (max-width: 820px) {
            display: none;
            &.responsive{
                display: block;
            position: absolute;
            top: 100%;
            right: 0;
            // left: 0;
            font-size: 20px;
            height: calc(100vh - 70px);
            width: 200px;
            background-color: #3B82F6;
            li{
                display: block;
                padding: 1rem;
            }
            li[class='signUpDropDown'], li[class='signInDropDown']{
                // background-color: red;
                overflow: hidden;
                &:hover ul{
                    background-color: inherit !important;
                    position: relative !important;
                    display: block !important;
                    padding: 0;
                    li{
                        background-color: #f2f2f2;
                        padding: 5px;
                        margin: 5px;
                        margin-left: -10px;
                        padding: 3px;
                        a{
                            color: #3B82F6 !important;
                        }
                    }
                }
            }
            }
        }
    }    
}
.signUpDropDown, .signInDropDown{
    position: relative;
    ul{
        display: none;
        position: absolute;
        top: 100%;
    }
    &:hover ul{
        background-color: rgb(216, 116, 35);
        display: block;
        width: 200px;
        left: 0;
        padding: 1rem;
        height: auto;
        li{
            display: block;
            font-size: 18px;
            // padding: 20px 0;
            a{
                padding: 10px 0;
            }
        }
    }
}


// Landing Page Carousel
#carouselCenter{
    // background-color: red;
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#carouselCenter::after{
    position: absolute;
    content: '';
    inset: 0 -50%;
    height: 200px;
    transform: translateX(-500px);
    background-image: linear-gradient(to right, green, blue , orange);
    opacity: .75;
    z-index: -9999;
    animation-name: sliding;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    @media (max-width: 1030px) {
        inset: 0 -200%;
    }
    @media (max-width: 768px) {
        inset: 0 -200%;
    }
}
@keyframes sliding {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(500px);
    }
}

.SchoolProgramsPage{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 0;
    // align-items: center;
    justify-content: center;
    .Program {
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        flex-basis: 25%;
        *{
            text-align: center;
            // word-wrap: break-word;
            // word-break: break-all;
            // -ms-word-break: break-all;
            // -ms-word-wrap: break-word;
            // background-color: red;
        }
    }
}

// Upcoming Calendar Design
.UpcomingCalendar{
    min-height: 120vh;
    width: 100vw;
    display: flex;
    @media (max-width: 768px) {
        flex-direction: column;
        height: 120vh;
    }
    
    div{
        &[name='img']{
            max-height: 100%;
            flex-basis: 50%;
            background-image: url(teachers/gallary4.png);
            background-size: 100% 100%;
            background-position: 100% 100%;
            object-fit: cover;
        }
        min-height: 100%;
        flex-basis: 50%;
        @media (max-width: 768px) {
            flex-basis: 100%;
            height: 50%;
            // &[name='img']{
            //     // max-height: 50vh !important;
            //     background-color: red !important;
            //     background-blend-mode: darken;
            // }
            // background-color: red !important;
        }
        
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                display: flex;
                justify-content: start;
                border-top: 1px solid gray;
                // background-color: white;
                padding: 2px 5px;
                &:hover{
                    background-color: rgb(228, 223, 223);
                }
                span{
                    margin: 0 3px;
                    
                }
            }
        }
    }
}

// LandingPageVideoDiv Design

.LandingPageVideoDiv{
    div{
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    p{
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}


// Landing Page Parralax Scrolling
.ParallaxScrooling{
    width: 100%;
    height: 300px;
    background-image: url(teachers/gallary6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    background-attachment: fixed;

}


// Landing Page Footer
.LandingPageFooter{
    background-color: #f2f2f2;
    p{
        color: black;
        a{
            text-decoration: underline !important;
            text-underline-offset: 4px;
            color: black;
            &:hover{
                color: rgb(60, 57, 57);
            }
        }
    }
}


// Sign Up Page

.signup{
    label{
        color: white;
    }
    @media (max-width: 768px) {
        flex-basis: 100% !important;
    }
}
.signupOtherDiv{
    flex-basis: 60%;
    background-image: url(teachers/gallary4.png);
    background-position: cover;
    background-size: 100% 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 2rem;
    @media (max-width: 768px) {
        flex-basis: 0;
        display: none;
    }
}
.signinOtherDiv{
    flex-basis: 60%;
    background-image: url(teachers/bg-image-5.jpeg);
    background-position: cover;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 2rem;
    @media (max-width: 768px) {
        flex-basis: 0;
        display: none;
    }
}


// Contact Us Page Design
.ContactUsMainDiv{
    height: 100vh;

}

.ContactUsBoxAndMap{
    width: 80%;
    height: 600px;
    display: flex;
    background-color: white;
    .ContactUsMap{
        flex-basis: 50%;
        // border: 2px solid blue;
    }
    .ContactUsBox{
        flex-basis: 50%;
        // border: 2px solid red;
    }
}


// .carouselOverlay{
//     background-color: aqua;
//     ba
// }


// @for $i from 1 through 5 {

// }



// I created this music web app and weather searh app making use of APIs
// Links: 
// Weather App: https://adegbite-joshua.github.io/WEATHER-APP/
// Music App: 
