@use 'sass:math';
$color: red;

// .h4 {
//     background: $color;
// }
// @for $i from 1 through 10 {
//     .width#{$i}{
//         width: calc($i/10)vw;
//     }
// }
@mixin calendarDisp{
    width: calc(100%/7);
    aspect-ratio: 1;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 10px;  
    text-align: center;  
    &:hover{
        background-color: #f2f2f2;
        border-radius: 50%;
    }
}

.weeks, .days{
    width: 100%;
    ul{
        list-style: none;
        width: 100%;
        display: flex;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    ul li{
        @include calendarDisp
    }
}
.inactive{
    color: #f2f2f2f3;
}
.active{
    color: rgba(252, 2, 252, 0.986);
}
.tdInput{
    height: 40px !important;
    border: 1px solid black;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

@media (max-width: 650px) {
    .OtherStudents, .SubjectSideDiv, .SettingsOtherDiv, .ActivityOtherSide{
        // flex-basis: 0% !important;
        // display: none;
        transition: 3s;
        position: absolute;
        background-color: gold;
        top: 0;
        right: 0;
        display: block !important;
        padding: 5px 10px;
        // width: auto;
    }
    #toggleIcon{
        display: inline !important;
    }
    .InboxMainDiv, .SettingsMainDiv{
        flex-basis: 100% !important;
        & input, div{
            width: 100% !important;
        }
    }
}
#toggleIcon{
    display: none;
}

@media (max-width: 768px) {
    .showNone{
        display: none;
    }
}

.performanceDiv{
    display: flex;
    flex-flow: row wrap;
}

.performanceDiv{
    overflow-y: auto;
}
.slate400{
    background-color: #94A3B8 !important;
}
.blue600{
    background-color: #2563EB !important;
    & *{
        color: white !important;
    }
}
.blue500{
    background-color: #3B82F6 !important;
    & *{
        color: white !important;
    }
}
// @for $i from 1 through 5 {

// }



// I created this music web app and weather searh app making use of APIs
// Links: 
// Weather App: https://adegbite-joshua.github.io/WEATHER-APP/
// Music App: 
